body {
  font-family: 'Roboto Mono', monospace;
}

.slide-carousel {
  margin-top: 70px;
}


.c-item {
  height: 480px;
}

.c-image {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7);
}

.c-items {
  transform: scale(1);
  transition: all .2s linear;
}

h1 {
  margin: 0 auto;
}

.c-items:hover {
  transform: scale(1.1);
  cursor: pointer;

}

.title-font {
  font-family: 'Abril Fatface';
}

.product-section {
  margin-top: 100px;

}